<h1>Login</h1>
<form (ngSubmit)="onSubmit()"[formGroup]="userForm" >
  <div>
    <label for="email">Email</label>
    <input type="email" id="email" name="email" placeholder="Your Email" required formControlName="email">
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" placeholder="Your password" required formControlName="password">
    <!-- <div *ngIf="password.invalid && (password.dirty || password.touched)" class="error">
      <div *ngIf="password.errors.required">Password is required</div>
    </div> -->
  </div>
  <button type="submit" [disabled]="userForm.invalid">Login</button>
  <div *ngIf="loginError" class="error">{{ loginErrorMessage }}</div>
</form>
